# OS
.DS_Store
Thumbs.db

# Python
Python files/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Logs & temp
*.log
hts-cache/
hts-log.txt

# Node
node_modules/

# Allow images, but ignore raw scripts & crawlers
/public/images/**/.DS_Store

# Ignore anything accidentally created by scripts
missing-pages.json
organized-images.json
output.json
site-structure.json
site-structure.normalized.json
